<!doctype html>
<html>
<head>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap-grid.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <table class="table table-hover">
        {{range .list}}
            <tr>
                <td>{{.ArticleName}}</td>
                <td>
                    {{.LocalLastChapter}}<br/>
                    {{.NewLastChapter}}<br/>
                </td>
                <td>
                    <a href="{{.Url}}">{{.Url}}</a>
                </td>
                <td style="width: 20%">
                    <button type="button" class="btn btn-primary op" data-id="{{.Id}}">操作</button>
                    <button type="button" class="btn btn-danger delete" data-id="{{.Id}}" style="cursor:pointer">删除
                    </button>
                </td>
            </tr>
        {{end}}
    </table>
</div>
<script>
    $(" .delete").click(function () {
        ele = $(this)
        $.get("/delete/" + ele.attr("data-id"), function (data, status) {
            if (data.code == 1) {
                ele.parent().parent().remove()
            }
        })
    })
    $('.op').click(function (){
        ele = $(this)
        window.open('/load/'+ ele.attr("data-id"))
    })
</script>
<
/body>
< /html>